<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRl_S_yZ5l6V-k0Ie9cb1O7cVWt_2ulEs</string>
	<key>GCM_SENDER_ID</key>
	<string>602176167825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ygauthier.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-ab5a4</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-ab5a4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602176167825:ios:44be34e88172c3a6bf4430</string>
</dict>
</plist>